.demo-card-square.mdl-card {
  width: 35%;
  height: 25%;
}

.mdl-card__title {
  height: 200px;
  color: white;
  background: rgb(14, 58, 130));
}

.mdl-layout__header{
  background: rgb(14, 58, 130);
}

.mdl-layout__header-row{
  padding: 0 2%;
}

.index-cards-grid{
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-card{
  display: inline-block;
  margin: 2% 5%;
  margin-bottom: 30px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  box-shadow: 2px grey;
}




/* STYLES FOR CANDIDATE.HTML */


.candidate-card{
  margin: 0 20px;
  width: 300px;
  height: 300px;
}

.filters{
  margin: 10px 20px 50px 20px;
}

.democrat .mdl-card__title {
  background: rgb(100,100,200);
}

.republican .mdl-card__title {
  background: rgb(200,100,100);
}
