*{
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body{
  background-color: rgb(250,250,250);
}

.mdl-button--raised.mdl-button--colored{
  background-color: #C986AF;
}

.mdl-button--raised.mdl-button--colored:hover, .mdl-button--raised:hover{
  background-color: rgb(140, 55, 145);
  color: white;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised{
  background-color: #C986AF;
}

.demo-card-square.mdl-card {
  width: 220px;
  height: 220px;
}

.mdl-card__title {
  height: 150px;
  color: white;
  background: rgb(80, 55, 85);
}

.mdl-layout-title{
  color: rgb(80, 55, 85);
}
.index-card .mdl-card__title-text {
  background: rgba(0,0,0,0.5);
  border-radius: 10px 10px;
  padding: 5px;
}

.mdl-layout__header{
  background: white;
}

.mdl-layout__header-row{
  padding: 0 5%;
}


.mdl-layout__header-row .mdl-navigation__link{
  color: rgb(80, 55, 85);
}

.index-cards-grid{
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-card{
  display: inline-block;
  margin: 0% 1%;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  box-shadow: 2px grey;
}

.index-image{
  float: right;
  display: inline-block;
  width: 55%;
}

.index-image img{
  width: 100%;
  height: 350px;
}

#index-candidate{
  background: url('images/candidates.jpg');
  background-repeat: no-repeat;
  background-size: 250px 100%;
}

#index-registration{
  background: url('images/registration.jpg');
  background-repeat: no-repeat;
  background-size: 250px 100%;
}

#index-news{
  background: url('images/news.png');
  background-repeat: no-repeat;
  background-size: 250px 100%;
}




h5{
  margin: 0;
}

.info-head{
  margin-top: 15%;
}

#index-events{
  background: url('images/events.jpg');
  background-repeat: no-repeat;
  background-size: 250px 100%;
}

.info{
  display: inline-block;
  color: white;
  width: 35%;
  height: 350px;
  padding: 0% 5%;
  background: rgb(80, 55, 85);
}




/* STYLES FOR CANDIDATE.HTML */


.candidate-card{
  margin: 10px 20px;
  width: 200px;
  height: 400px;
}

.filters{
  margin: 10px 20px 50px 20px;
  margin-left: 5%;
}

.filter-subtitle{
  margin-top: 2px;
  margin-bottom: 10px;
}

.issue{
  transition: 2s;
}

.filter-title{
  margin-bottom: 5px;
}

.candidate-card .mdl-card__title-text{
  background: rgba(0,0,0,0.5);
  border-radius: 10px 10px;
  padding: 5px;
}

.mdl-card__title {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.issue{
  display: none;
}

.candidate-grid{
  margin-left: 3.5%;
}



/* STYLES FOR EVENTS.JS */
.addEvents{
  display: inline-block;
  width: 40%;
  margin-left: 5%;
}

.addEvents h3{
  color: rgb(80, 55, 85);
  font-weight: 800;
}

#calendar-col{
  float: right;
  display: inline-block;
  width: 40%;
  height: 500px;
  margin: 0px 80px;
}

#calendar-col h3{
  color: rgb(80, 55, 85);
  font-weight: 800;
}

.fc-center h2{
  font-size: 20px;
}

.events-info{
  display: inline-block;
  color: white;
  width: 90%;
  padding: 2% 5%;
  padding-bottom: 3%;
  background: rgb(80, 55, 85);
}

.event{
  background: rgba(80, 55, 85, 0.8);
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin: 20px 0px;
}

.event-title{
  font-weight: 800;
  font-size: 20px;
}

.event-button{
  margin-left: 20px;
  background: rgba(255,255,255,0.8);
}



/* REGISTRATION */

.action-button{
  font-size: 20px;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.registration-box h4{
  font-weight: bold;
}

.registration-box{
  padding: 3%;
  padding-top: 2%;
  margin-right: 4%;
  display: inline-block;
}
.registration-grid{
  margin: 3% 5%;
}

.mdl-card__actions{
  padding-left: 0;
}
